.ValentineContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 90vh;
}

.ButtonContainer{

}

.tagger{
  width: 80%;
  display: flex;
  flex-direction: row-reverse;
}